[Desktop Entry]
Name=Clippy Land
Comment=Clipboard history applet for COSMIC
Comment[cs]=Applet historie schránky pro COSMIC
Comment[it]=COSMIC applet per la cronologia della clipboard
Comment[pt]=Applet de busca no histórico da área de transferência para COSMIC
Type=Application
Icon=io.github.k33wee.clippy-land-symbolic
Exec=cosmic-applet-clippy-land
Terminal=false
StartupNotify=true
Categories=Utility;X-Cosmic;X-Iced;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
